.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1762px;
}

.u-section-1 .u-text-1 {
  font-family: Monoton;
  line-height: 1.4;
  letter-spacing: 6px;
  background-image: none;
  margin: 22px 0 0 46px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-gallery-1 {
  width: 689px;
  height: 545px;
  grid-gap: 10px 10px;
  margin: 37px auto 0;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-back-image-1 {
  object-position: 100% 0%;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 100% 0%;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-2 {
  font-weight: 800;
  margin: 81px 882px 0 90px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -36px 226px 0 779px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 646px 0 90px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -144px 451px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 100px 646px 0 90px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -223px 451px 0 auto;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 58px 451px 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -271px 191px 0 726px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 69px 46px 0 726px;
}

.u-section-1 .u-text-8 {
  margin: 74px 37px 0 720px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 54px 646px 0 90px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -229px 451px 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 71px 0 720px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 98px 133px 0 720px;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -48px 444px 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 93px 45px 0 90px;
}

.u-section-1 .u-icon-6 {
  width: 44px;
  height: 44px;
  margin: 65px auto 0 405px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px 444px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-family: "Aguafina Script";
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 2;
  margin: 34px 17px 12px 978px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1952px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 772px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 126px;
    margin-left: 679px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 537px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -107px;
    margin-right: 366px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 63px;
    margin-right: 537px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 372px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 86px;
    margin-right: 372px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -299px;
    margin-right: 91px;
    margin-left: 626px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 626px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 69px;
    margin-right: 23px;
    margin-left: 608px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 59px;
    margin-right: 537px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -213px;
    margin-right: 372px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -64px;
    margin-right: 0;
    margin-left: 608px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 61px;
    margin-left: 591px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 366px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 82px;
    margin-right: 288px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: 79px;
    margin-right: 0;
    margin-left: 795px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1700px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 552px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 16px;
    margin-left: 569px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 107px;
    margin-right: 302px;
    margin-left: 16px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 280px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 16px;
    margin-right: 302px;
    margin-left: 16px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 285px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 1401px;
    margin-right: auto;
    margin-left: 168px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 497px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 497px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -576px;
    margin-right: 59px;
    margin-left: 352px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -937px;
    margin-right: 302px;
    margin-left: 16px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 285px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 388px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 432px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 280px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 0;
    margin-right: 221px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 134px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -807px;
    margin-bottom: 60px;
    margin-left: 575px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 372px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 405px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 53px;
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 210px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 159px;
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 214px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 231px;
  }

  .u-section-1 .u-text-9 {
    margin: 200px 137px 60px 0;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 214px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 252px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 210px;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 166px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -44px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 0;
    margin-left: 395px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1656px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 77px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -28px;
    margin-left: 205px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 132px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 135px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 106px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 117px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 117px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 31px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 24px;
    margin-right: 0;
    margin-bottom: 37px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 135px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 8px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 52px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 132px;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 195px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 644px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 73px 741px 0 336px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 440px 0 477px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 16px auto 0 336px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -44px 296px 0 477px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 43px 288px 0 469px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -64px auto 0 336px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 26px auto 0 335px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 325px 0 466px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 25px auto 0 336px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -52px 382px 0 470px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 97px auto 0 407px;
  padding: 0;
}

.u-section-2 .u-icon-6 {
  width: 44px;
  height: 44px;
  margin: -44px auto 60px 345px;
}

.u-section-2 .u-text-6 {
  font-family: "Aguafina Script";
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1rem;
  line-height: 25.6px;
  letter-spacing: normal;
}

@media (max-width: 1199px) {
  .u-section-2 .u-icon-1 {
    margin-right: 611px;
    margin-left: 277px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 340px;
    margin-left: 377px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 277px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 196px;
    margin-left: 377px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 188px;
    margin-left: 369px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 277px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 277px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 225px;
    margin-left: 366px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 277px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 282px;
    margin-left: 370px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 207px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-1 {
    margin-top: 31px;
    margin-right: 482px;
    margin-left: 174px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 230px;
    margin-left: 267px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 22px;
    margin-left: 174px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -50px;
    margin-right: 86px;
    margin-left: 267px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 78px;
    margin-left: 259px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 174px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 43px;
    margin-left: 174px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 112px;
    margin-left: 259px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 45px;
    margin-left: 174px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -48px;
    margin-right: 165px;
    margin-left: 267px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 153px;
    margin-left: 43px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-1 {
    margin-top: 141px;
    margin-right: 362px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 97px;
    margin-left: 159px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 72px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -32px;
    margin-right: auto;
    margin-left: 159px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 18px;
    margin-left: 157px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 75px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 194px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -64px;
    margin-right: 78px;
    margin-left: 157px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 93px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
    margin-left: 159px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 97px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
    margin-right: 276px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 29px;
    margin-left: 100px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 59px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -72px;
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 61px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -80px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 61px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -71px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 57px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    margin-top: -46px;
    margin-right: 0;
    margin-left: 75px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 69px;
    margin-right: 0;
  }

  .u-section-2 .u-icon-6 {
    margin-bottom: 0;
    margin-left: 59px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    line-height: 2;
    letter-spacing: 2px;
    width: 147px;
    margin-top: 101px;
    margin-left: auto;
    margin-bottom: 34px;
  }
}